.App {
  text-align: center;
}

span{
  font-size: 35px;
}

.mariginbottom{
  margin-bottom: 10px;
}

h2{
  font-weight: bolder;
  background-color: rgb(13,110,253);
  color: white;
  width: 200px;
  margin: auto;
  padding: 13px;
  border-radius: 10px;
}